$buttonColor: #26a69a;
$white: #fff;
$black: #000;
$lightBlack: #333;

body {
  background: $white;
  font-family: 'Open Sans', sans-serif;
  color: $lightBlack;
}
.content {
  margin: 0 5%;
}

// LOGO
#logo a {
  display: block;
  height: 120px;
  width: 120px;
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
}
.retina {
  width: 120px;
  height: 120px;
}

/* HEADER */

header {
  position: relative;
  width: auto;
  margin: 20px auto 0 auto;
}

header h1 {
  margin: 35px 0 0 0;
  font-size: 55px;
  color: #0968ec;
  font-family: 'Baumans', cursive;
}

header p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4a463b;
  margin-left: 132px;
}

nav {
  justify-content: flex-end;
  margin-bottom: 10px;
  display: flex;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

nav ul li {
  flex: 1 1 auto;
  display: block;
  padding: 10px 0 3px 0;

  transition: all 250ms ease-in-out;

  text-align: center;
}

nav ul li:not(:last-child) {
  margin-right: 20px;
}

nav ul li a {
  padding-top: 10px;
  border-top: 1px solid transparent;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  transition: all 0.25s ease;
  display: block;
}

.currentRoute {
  border-top: 1px solid $black;
}

nav ul li a:hover {
  text-shadow: 0 0 0.35px $lightBlack, 0 0 0.35px $lightBlack;
}

/* MOBILE*/
#mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

#mobileMenu ul li {
  display: block;
  background-color: #0968ec;
  color: $white;
  padding: 12px 0;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid #0968ec;
}

.toggleMobile {
  display: none;
}

/*Banner*/
.header__container {
  background-color: $black;
  display: flex;
}

.headerpic {
  margin: auto;
  align-self: center;
  max-height: 400px;
  max-width: 100%;
}

/* FOUR COLUMNS */
/*CONTENT*/
a {
  text-decoration: none;
  color: inherit;
  transition: color 0.5s ease;
}
p {
  margin: 5px 0;
  line-height: 25px;
}

strong {
  font-weight: bold;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figcaption > strong {
  border-bottom: 1px solid #d6d0c1;
  padding-bottom: 10px;
  margin: 20px 0;
  display: block;
  text-align: center;
  font-size: 18px;
}

figcaption {
  line-height: 25px;
  font-size: 14px;
  width: 200px;
  text-align: center;
}

hr {
  background-color: #d6d0c1;
  border: 0;
  height: 1px;
  margin: 20px 0;
}

#three_columns,
#text_columns {
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  clear: both;
  width: auto;
  max-width: 1400px;
  margin: 0 auto;
}

#three_columns h2,
#text_columns h3 {
  font-size: 20px;
  border-bottom: 1px solid #d6d0c1;
  padding: 40px 10%;
  margin-bottom: 20px;
  text-align: center;
}

.item__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

#three_columns .img-item {
  flex: 33 33;
  display: flex;
  justify-content: center;
}

#three_columns .img-item a img {
  transition: all 200ms ease-in-out;
  opacity: 0.9;
  width: 200px;
  height: 200px;
}

#three_columns .img-item a img:hover {
  transform: scale(1.1);
  opacity: 1;
}

/* FOOTER */

footer {
  position: relative;
  clear: both;
  width: auto;
  height: 350px;
  background: $lightBlack;
}

footer .wrapper {
  line-height: 25px;
  margin: 0 auto;
  padding-top: 30px;
  width: auto;
  max-width: 900px;
  font-size: 14px;
}

footer .wrapper .column {
  font-family: 'Open Sans', sans-serif;
  color: #ababab;
  float: left;
  width: 280px;
  margin-right: 20px;
}

footer .wrapper .column.midlist ul li {
  display: block;
  width: auto;
  padding: 0 0 10px 25px;
  margin-bottom: 10px;
  border-bottom: 1px solid #444444;
}

footer .wrapper .column.midlist ul li a:hover {
  color: $white;
}

footer .wrapper .column.rightlist ul li {
  display: block;
  width: auto;
  margin-bottom: 15px;
}

footer .wrapper .column.rightlist ul li a span {
  margin-left: 95px;
  display: block;
}

footer .wrapper .column.rightlist ul li a img {
  transition: border 0.25s ease;
  float: left;
  border: 3px solid #444444;
}

footer .wrapper .column.rightlist ul li a img:hover {
  border-color: #5e5e5e;
}

footer .wrapper .column h4 {
  font-size: 16px;
  color: $white;
  border-bottom: 1px solid #444444;
  padding: 0 0 10px 0;
  margin-bottom: 10px;
}

#copyright {
  background: #1d1d1d;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#copyright .wrapper {
  font-family: 'Open Sans', sans-serif;
  padding-top: 25px;
  color: #5e5e5e;
  font-size: 14px;
  position: relative;
}
#copyright .wrapper .social {
  position: absolute;
  right: 0;
  top: 25px;
}
#copyright .wrapper .social a {
  transition: opacity 0.25s ease;
  opacity: 0.3;
  margin-left: 12px;
  display: block;
  float: left;
}
#copyright .wrapper .social a:hover {
  opacity: 0.7;
}
#copyright .wrapper a {
  color: #ababab;
}

#copyright .wrapper a:hover {
  color: $white;
}

/* MISC */
.clear {
  clear: both;
}
.hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6 & 7 */
  clip: rect(1px, 1px, 1px, 1px);
}

/* MEDIA QUERIES FOR A RESPONSIVE LAYOUT */

@media (max-width: 500px) {
  #logo a {
    margin: auto;
  }
  header {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 25px;
  }

  #three_columns {
    width: auto;
  }
  #three_columns .img-item {
    width: 200px;
    float: none;
    margin: 25px auto 0 auto;
  }
  #three_columns h2 {
    margin: 0 30px;
  }
  .column2 .row {
    margin: 0 0 40px 10px;
    width: auto;
  }
  footer .wrapper {
    width: auto;
  }
  footer .wrapper .column {
    margin: 0 auto 15px auto;
    max-width: 300px;
  }
  input {
    width: auto;
  }
  #mobileMenu {
    display: block;
    z-index: 99;
  }
  .toggleMobile {
    position: fixed;
    top: 10px;
    left: 10px;
    display: block;
    width: 40px;
    height: 36px;
    cursor: pointer;
    z-index: 999;
  }
  .toggleMobile span.menu1,
  .toggleMobile span.menu2,
  .toggleMobile span.menu3 {
    display: block;
    position: absolute;
    width: 40px;
    height: 8px;
    left: 0;
    background: #74a4e5;
    -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.1, 0.95);
    transition: all 0.35s cubic-bezier(0.75, 0.25, 0.1, 0.95);
  }
  .toggleMobile span.menu1 {
    top: 0;
  }
  .toggleMobile span.menu2 {
    top: 14px;
  }
  .toggleMobile span.menu3 {
    top: 28px;
  }
  .toggleMobile.active span.menu1 {
    top: 14px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.1, 0.95);
    transition: all 0.5s cubic-bezier(0.75, 0.25, 0.1, 0.95);
  }
  .toggleMobile.active span.menu2 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.35s cubic-bezier(0.75, 0.25, 0.1, 0.95);
    transition: all 0.5s cubic-bezier(0.75, 0.25, 0.1, 0.95);
  }
  .toggleMobile.active span.menu3 {
    opacity: 0;
    -webkit-transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.1, 0.95);
    transition: opacity 0.35s cubic-bezier(0.75, 0.25, 0.1, 0.95);
  }
  header nav {
    display: none;
  }
  header h1 {
    font-size: 40px;
  }
  header p {
    margin-left: 60px;
    font-size: 14px;
  }
}

/* PREISE */

.price_panel {
  flex: 1 1;
  border: 1px solid $black;
  padding-bottom: 20px;
  max-width: 350px;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  .btn-book {
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    display: block;
    position: relative;
    background-color: #26a69a;
    padding: 5px 0;
    margin: 20px auto;
    width: 50%;
    height: 40px;
    line-height: 40px;
    color:white;
    border: 1px solid $black;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 2px;
    cursor: pointer;
    &:hover{
      background-color: lighten($buttonColor, 10%)
    }
    &:active{
      top:1px;
    }

  }

  li {
    margin-bottom: 5px;
    line-height: 40px;
    text-align: center;
  }
  .old-price {
    text-decoration: line-through;
    margin-bottom: 5px;
  }
  .special-price {
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    span {
      display: block;
      font-size: 32px;
    }
  }

  strong {
    font-size: 24px;
  }
  figure figcaption {
    font-size: 20px !important;
    width: 100%;
  }
}
